In [2]:
from mysql import connector
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)
print("ì„¤ì¹˜ ì™„ë£Œ")

2.2.3
2.2.5
ì„¤ì¹˜ ì™„ë£Œ

## DB ì—°ê²° ì½”ë“œ
- ì—¬ê¸°ì„œë¶€í„° ì‹œì‘

In [ ]:
import os
from mysql import connector

PASSWORD = 'kmh1234'

try:
    with connector.connect(
        host = "localhost", # ë°ì´í„°ë² ì´ìŠ¤ í˜¸ìŠ¤íŠ¸ ì£¼ì†Œ     
        user = "root",      # ì‚¬ìš©ì ì´ë¦„
        password = PASSWORD # ë¹„ë°€ë²ˆí˜¸
    ) as database: 
        print(f"Database object: {database}")  # ì—°ê²°ëœ ë°ì´í„°ë² ì´ìŠ¤ ê°ì²´ ì¶œë ¥
except connector.Error as e: 
    print(e)

Database object: <mysql.connector.connection_cext.CMySQLConnection object at 0x000002745FC7EC10>

In [28]:
from dotenv import load_dotenv
import os
import mysql.connector
from mysql.connector import pooling

# .env íŒŒì¼ ë¡œë“œ
load_dotenv()

# ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì„¤ì •
db_config = {
    'host': os.getenv('MYSQL_HOST'),
    'port': int(os.getenv('MYSQL_PORT')),
    'user': os.getenv('MYSQL_USER'),
    'password': os.getenv('MYSQL_PASSWORD'),
    'database': os.getenv('MYSQL_DATABASE'),
    'charset': os.getenv('MYSQL_CHARSET')
}

# ì»¤ë„¥ì…˜ í’€ ì„¤ì •
pool_config = {
    'pool_name': os.getenv('MYSQL_POOL_NAME'),
    'pool_size': int(os.getenv('MYSQL_POOL_SIZE')),
    'pool_reset_session': True,
    **db_config
}

# ì»¤ë„¥ì…˜ í’€ ìƒì„±
connection_pool = mysql.connector.pooling.MySQLConnectionPool(**pool_config)

# ì»¤ë„¥ì…˜ í’€ ì‚¬ìš© ì˜ˆì‹œ
def get_connection():
    return connection_pool.get_connection()

# ì‚¬ìš© ì˜ˆì‹œ
try:
    connection = get_connection()
    cursor = connection.cursor()
    
    sql_query = '''
        SELECT 1+1
    '''
    
    # ì¿¼ë¦¬ ì‹¤í–‰
    cursor.execute(sql_query)
    results = cursor.fetchall()
    
    for row in results:
        print(row)
        
except mysql.connector.Error as err:
    print(f"Error: {err}")
finally:
    if 'cursor' in locals():
        cursor.close()
    if 'connection' in locals():
        connection.close()

(2,)

# ìŠ¤í‚¤ë§ˆ ìƒì„±

In [6]:
import os
from mysql import connector

PASSWORD = 'kmh1234'

try:
    with connector.connect(
        host = "localhost",
        user = "root",
        password = PASSWORD
    ) as database: 
        print(f"Database object: {database}")
        delete_db = 'DROP DATABASE book_ratings;'       # ìŠ¤í‚¤ë§ˆ ì‚­ì œ ëª…ë ¹ì–´
        create_db = 'CREATE DATABASE book_ratings;'     # ìŠ¤í‚¤ë§ˆ ìƒì„± ëª…ë ¹ì–´
        with database.cursor() as cursor:
            cursor.execute(create_db)

            # í˜„ì¬ ì¡´ì¬í•˜ëŠ” ìŠ¤í‚¤ë§ˆ ëª©ë¡ í™•ì¸
            show_db = 'SHOW DATABASES;'
            cursor.execute(show_db)
            for db in cursor:
                print(db)
except connector.Error as e: 
    print(e)

Database object: <mysql.connector.connection_cext.CMySQLConnection object at 0x000002745FC7EAD0>
1007 (HY000): Can't create database 'book_ratings'; database exists

In [ ]:
import os
from mysql import connector

PASSWORD = 'kmh1234'

create_book_table = """
    CREATE TABLE books(
        id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        title VARCHAR(100),
        author VARCHAR(100),
        genre VARCHAR(100),
        release_year YEAR(4)
    );
"""

try:
    with connector.connect(
        host = "localhost",         # ë°ì´í„°ë² ì´ìŠ¤ í˜¸ìŠ¤íŠ¸ ì£¼ì†Œ
        user="root",                # ì‚¬ìš©ì ì´ë¦„
        password=PASSWORD,         # ë¹„ë°€ë²ˆí˜¸
        database = 'book_ratings'   # ì‚¬ìš©í•  ë°ì´í„°ë² ì´ìŠ¤ ì´ë¦„
    ) as database: 
        print(f"Database object: {database}")
        with database.cursor() as cursor:
            cursor.execute(create_book_table)   # í…Œì´ë¸” ìƒì„± ì¿¼ë¦¬ ì‹¤í–‰
            database.commit()                   # ë³€ê²½ ì‚¬í•­ ì €ì¥(CREATE, INSERT ë“±ì€ commit í•„ìš”) 

            # table í™•ì¸
            describe_books = 'DESCRIBE books;'
            cursor.execute(describe_books)
            result = cursor.fetchall()  # ê²°ê³¼ ëª¨ë‘ ê°€ì ¸ì˜¤ê¸°
                                        # ëª¨ë“  í…Œì´ë¸” ì •ë³´ë¥¼ ë‹¤ ê°€ì§€ê³  ì˜¤ëŠ”ë°,  
                                        # pandas ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì˜¤ëŠ” ê²ƒì´ ì•„ë‹ˆë¼, 
                                        # ë¦¬ìŠ¤íŠ¸-íŠœí”Œ í˜•íƒœë¡œ ì €ì¥
            for col in result:
                print(col)

except connector.Error as e: 
    print(e)

Database object: <mysql.connector.connection_cext.CMySQLConnection object at 0x0000027400603750>
('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('title', 'varchar(100)', 'YES', '', None, '')
('author', 'varchar(100)', 'YES', '', None, '')
('genre', 'varchar(100)', 'YES', '', None, '')
('release_year', 'year', 'YES', '', None, '')

In [ ]:
# INSERT SINGLE RECORD
insert_single_record = "INSERT INTO books (id, title, author, genre, release_year)\
    VALUES (%s, %s, %s, %s, %s)"
single_record = (
    "1", "Choose Yourself! Be Happy, Make Millions, Live the Dream", "James Altucher", "self-help", "2013"
    )

try: 
    # Connect to existing database
    with connector.connect(
        host = "localhost",
        user = "root",
        password = PASSWORD,
        database = "book_ratings"
    ) as existing_database:
        
        # Create cursor object
        with existing_database.cursor() as cursor:
            cursor.execute(insert_single_record, single_record)
            existing_database.commit()
        
except connector.Error as e: 
    print(e)

# INSERT MULTIPLE RECORDS
insert_multiple_records = "INSERT INTO books (id, title, author, genre, release_year)\
    VALUES (%s, %s, %s, %s, %s)"
multiple_records = [ # ë¦¬ìŠ¤íŠ¸ í˜•íƒœë¡œ íŠœí”Œ ë°ì´í„°ë¥¼ ì €ì¥
    (
        "2", 
        "Skip the Line: The 10,000 Experiments Rule and Other Surprising Advice for Reaching Your Goals",
        "James Altucher",
        "self-help",
        "2021"        
    ),
    (
        "3",
        "The Power of No: Because One Little Word Can Bring Health, Abundance, and Happiness",
        "James Altucher",
        "self-help",
        "2014"
    ),
    (
        "4",
        "The 48 Laws of Power",
        "Robert Greene",
        "self-help",
        "1998"
    ),
    (
        "5",
        "Mastery",
        "Robert Greene",
        "self-help",
        "2012"
    ),
    (
        "6",
        "The Art of Seduction",
        "Robert Greene",
        "self-help",
        "2001"
    ),
]

try: 
    # Connect to existing database
    with connector.connect(
        host = "localhost",
        user = "root",
        password = PASSWORD,
        database = "book_ratings"
    ) as existing_database:
        
        # Create cursor object
        with existing_database.cursor() as cursor:
            cursor.executemany(insert_multiple_records, multiple_records)
            existing_database.commit()
            
except connector.Error as e: 
    print(e)

# ë°ì´í„° ì¡°íšŒ

In [27]:
try:
    with connector.connect(
        host = "localhost",  # ë°ì´í„°ë² ì´ìŠ¤ í˜¸ìŠ¤íŠ¸ ì£¼ì†Œ     
        user = "root",       # ì‚¬ìš©ì ì´ë¦„
        password = PASSWORD, # ë¹„ë°€ë²ˆí˜¸
        database = 'book_ratings'
    ) as database: 
        print(f"Database object: {database}")  # ì—°ê²°ëœ ë°ì´í„°ë² ì´ìŠ¤ ê°ì²´ ì¶œë ¥

        # ì¡°íšŒ
        select_query = 'SELECT author, release_year FROM books;'
        with database.cursor() as cursor:
            cursor.execute(select_query)

            # ê²°ê³¼ ê°€ì ¸ì˜¤ê¸°
            rows = cursor.fetchall()

            # ì»¬ëŸ¼ëª… ê°€ì ¸ì˜¤ê¸°
            columns = [desc[0] for desc in cursor.description]

            # Pandas DataFrameìœ¼ë¡œ ë³€í™˜
            df = pd.DataFrame(rows, columns=columns)

            # ê²°ê³¼ ì¶œë ¥
            print(df)


except connector.Error as e: 
    print(e)

Database object: <mysql.connector.connection_cext.CMySQLConnection object at 0x0000027400603ED0>
           author  release_year
0  James Altucher          2013
1  James Altucher          2021
2  James Altucher          2014
3   Robert Greene          1998
4   Robert Greene          2012
5   Robert Greene          2001

In [35]:
# ë¯¸ì…˜ : ì–´ë–¤ í˜•íƒœë¡œë“  tableì„ ì¡°íšŒí•´ë„ tableì˜ ê³ ìœ í•œ ì¹¼ëŸ¼ & ë°ì´í„°í”„ë ˆì„ 

# .env íŒŒì¼ ë¡œë“œ
load_dotenv(dotenv_path='.env', override=True)
## override=True ì˜µì…˜ : ê¸°ì¡´ì— ë¡œë”©ëœ ê°’ ë®ì–´ì”Œì›€

# ë³€ê²½ëœ í™˜ê²½ë³€ìˆ˜ í™•ì¸
print("DATABASE:", os.getenv("MYSQL_DATABASE"))

# ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì„¤ì •
db_config = {
    'host': os.getenv('MYSQL_HOST'),
    'port': int(os.getenv('MYSQL_PORT')),
    'user': os.getenv('MYSQL_USER'),
    'password': os.getenv('MYSQL_PASSWORD'),
    'database': os.getenv('MYSQL_DATABASE'),
    'charset': os.getenv('MYSQL_CHARSET')
}

# ì»¤ë„¥ì…˜ í’€ ì„¤ì •
pool_config = {
    'pool_name': os.getenv('MYSQL_POOL_NAME'),
    'pool_size': int(os.getenv('MYSQL_POOL_SIZE')),
    'pool_reset_session': True,
    **db_config
}

# ì»¤ë„¥ì…˜ í’€ ìƒì„±
connection_pool = mysql.connector.pooling.MySQLConnectionPool(**pool_config)

# ì»¤ë„¥ì…˜ í’€ ì‚¬ìš© ì˜ˆì‹œ
def get_connection():
    return connection_pool.get_connection()

# ì‚¬ìš© ì˜ˆì‹œ
try:
    connection = get_connection()
    cursor = connection.cursor()
    
     # ì¡°íšŒ
    select_query = 'SELECT author, release_year FROM books;'
    cursor.execute(select_query)

    # ê²°ê³¼ ê°€ì ¸ì˜¤ê¸°
    rows = cursor.fetchall()

    # ì»¬ëŸ¼ëª… ê°€ì ¸ì˜¤ê¸°
    columns = [desc[0] for desc in cursor.description]

    # Pandas DataFrameìœ¼ë¡œ ë³€í™˜
    df = pd.DataFrame(rows, columns=columns)

    # ê²°ê³¼ ì¶œë ¥
    print(df)

        
except mysql.connector.Error as err:
    print(f"Error: {err}")
finally:
    if 'cursor' in locals():
        cursor.close()
    if 'connection' in locals():
        connection.close()

DATABASE: book_ratings
           author  release_year
0  James Altucher          2013
1  James Altucher          2021
2  James Altucher          2014
3   Robert Greene          1998
4   Robert Greene          2012
5   Robert Greene          2001

In [ ]:
from dotenv import load_dotenv
import os
import mysql.connector
from mysql.connector import pooling

# .env íŒŒì¼ ë¡œë“œ
load_dotenv(dotenv_path='.env', override=True)

# ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì„¤ì •
db_config = {
    'host': os.getenv('MYSQL_HOST'),
    'port': int(os.getenv('MYSQL_PORT')),
    'user': os.getenv('MYSQL_USER'),
    'password': os.getenv('MYSQL_PASSWORD'),
    'database': os.getenv('MYSQL_DATABASE'),
    'charset': os.getenv('MYSQL_CHARSET')
}

# ì»¤ë„¥ì…˜ í’€ ì„¤ì •
pool_config = {
    'pool_name': os.getenv('MYSQL_POOL_NAME'),
    'pool_size': int(os.getenv('MYSQL_POOL_SIZE')),
    'pool_reset_session': True,
    **db_config
}

# ì»¤ë„¥ì…˜ í’€ ìƒì„±
connection_pool = mysql.connector.pooling.MySQLConnectionPool(**pool_config)

# ì»¤ë„¥ì…˜ í’€ ì‚¬ìš© ì˜ˆì‹œ
def get_connection():
    return connection_pool.get_connection()

import pandas as pd

def fetch_table_as_dataframe(table_name: str) -> pd.DataFrame:
    """
    ì»¤ë„¥ì…˜ í’€ì—ì„œ ì—°ê²°ì„ ë°›ì•„ ì§€ì •ëœ í…Œì´ë¸”ì„ ì¡°íšŒí•˜ê³  DataFrameìœ¼ë¡œ ë°˜í™˜.

    Parameters:
        table_name (str): ì¡°íšŒí•  í…Œì´ë¸” ì´ë¦„

    Returns:
        pd.DataFrame: í…Œì´ë¸” ë‚´ìš©ì„ ë‹´ì€ ë°ì´í„°í”„ë ˆì„
    """
    try:
        # ì»¤ë„¥ì…˜ í’€ì—ì„œ ì—°ê²° ê°€ì ¸ì˜¤ê¸°
        connection = connection_pool.get_connection()
        cursor = connection.cursor()
        query = f"SELECT * FROM {table_name};"
        cursor.execute(query)

        rows = cursor.fetchall()
        columns = [desc[0] for desc in cursor.description]

        return pd.DataFrame(rows, columns=columns)

    except mysql.connector.Error as err:
        print(f"â— MySQL ì—ëŸ¬ ë°œìƒ: {err}")
        return pd.DataFrame()

    finally:
        if 'cursor' in locals():
            cursor.close()
        if 'connection' in locals() and connection.is_connected():
            connection.close()

df = fetch_table_as_dataframe("books")
print(df.head())

   id                                              title          author  \
0   1  Choose Yourself! Be Happy, Make Millions, Live...  James Altucher
1   2  Skip the Line: The 10,000 Experiments Rule and...  James Altucher
2   3  The Power of No: Because One Little Word Can B...  James Altucher
3   4                               The 48 Laws of Power   Robert Greene
4   5                                            Mastery   Robert Greene

       genre  release_year
0  self-help          2013
1  self-help          2021
2  self-help          2014
3  self-help          1998
4  self-help          2012

In [ ]:
# [1ë‹¨ê³„] í•„ìš” ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°
from dotenv import load_dotenv
import os
import mysql.connector
from mysql.connector import pooling
import pandas as pd

# [2ë‹¨ê³„] .env íŒŒì¼ ë¡œë“œ
load_dotenv(dotenv_path='.env', override=True)

# [3ë‹¨ê³„] DB ì„¤ì •ê°’ í™˜ê²½ë³€ìˆ˜ì—ì„œ ë¶ˆëŸ¬ì˜¤ê¸°
db_config = {
    'host': os.getenv('MYSQL_HOST'),
    'port': int(os.getenv('MYSQL_PORT')),
    'user': os.getenv('MYSQL_USER'),
    'password': os.getenv('MYSQL_PASSWORD'),
    'database': os.getenv('MYSQL_DATABASE'),
    'charset': os.getenv('MYSQL_CHARSET')
}

# [4ë‹¨ê³„] ì»¤ë„¥ì…˜ í’€ ìƒì„± (ì• í”Œë¦¬ì¼€ì´ì…˜ ì „ì²´ì—ì„œ 1íšŒë§Œ ì‹¤í–‰)
connection_pool = pooling.MySQLConnectionPool(
    pool_name=os.getenv('MYSQL_POOL_NAME'),           # ì˜ˆ: mypool
    pool_size=int(os.getenv('MYSQL_POOL_SIZE')),      # ì˜ˆ: 5
    pool_reset_session=True,                          # ì„¸ì…˜ ì´ˆê¸°í™” ì—¬ë¶€
    **db_config
)

# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
# [5ë‹¨ê³„-1] ë‹¨ìˆœ ì¡°íšŒìš© (ì»¤ë„¥ì…˜ì„ í•¨ìˆ˜ ë‚´ë¶€ì—ì„œ êº¼ëƒ„ - ì¶”ì²œ: ë‹¨ê±´ ì¡°íšŒìš©)
def fetch_table_as_dataframe(table_name: str) -> pd.DataFrame:
    """
    ì§€ì •ëœ í…Œì´ë¸”ì„ ì»¤ë„¥ì…˜ í’€ì—ì„œ ì—°ê²°ì„ êº¼ë‚´ ì¡°íšŒí•˜ì—¬ DataFrameìœ¼ë¡œ ë°˜í™˜ (ë‹¨ê±´ ì¡°íšŒ ì „ìš©).
    """
    try:
        connection = connection_pool.get_connection()
        cursor = connection.cursor()
        query = f"SELECT * FROM {table_name};"
        cursor.execute(query)

        rows = cursor.fetchall()
        columns = [desc[0] for desc in cursor.description]
        return pd.DataFrame(rows, columns=columns)

    except mysql.connector.Error as err:
        print(f"â— MySQL ì—ëŸ¬ ë°œìƒ: {err}")
        return pd.DataFrame()

    finally:
        if 'cursor' in locals():
            cursor.close()
        if 'connection' in locals() and connection.is_connected():
            connection.close()

# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
# [5ë‹¨ê³„-2] ë‹¤ì¤‘ ì¿¼ë¦¬/ì¬ì‚¬ìš©ìš© (ì»¤ë„¥ì…˜ì„ í•¨ìˆ˜ ì™¸ë¶€ì—ì„œ ì£¼ì…)
def fetch_table_with_connection(conn, table_name: str) -> pd.DataFrame:
    """
    ì£¼ì–´ì§„ ì»¤ë„¥ì…˜ì„ ì‚¬ìš©í•´ í…Œì´ë¸”ì„ ì¡°íšŒí•˜ì—¬ DataFrameìœ¼ë¡œ ë°˜í™˜ (ì¬ì‚¬ìš©/íŠ¸ëœì­ì…˜ìš©).
    """
    try:
        cursor = conn.cursor()
        query = f"SELECT * FROM {table_name};"
        cursor.execute(query)

        rows = cursor.fetchall()
        columns = [desc[0] for desc in cursor.description]
        return pd.DataFrame(rows, columns=columns)

    except mysql.connector.Error as err:
        print(f"â— MySQL ì—ëŸ¬ ë°œìƒ: {err}")
        return pd.DataFrame()

    finally:
        if 'cursor' in locals():
            cursor.close()

# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
# [6ë‹¨ê³„] í•¨ìˆ˜ ì‚¬ìš© ì˜ˆì‹œ

# âœ… ë°©ë²• 1: ë‹¨ê±´ ì¡°íšŒìš© (ë‚´ë¶€ì—ì„œ ì»¤ë„¥ì…˜ êº¼ëƒ„)
df1 = fetch_table_as_dataframe("books")
print("ğŸ“˜ books í…Œì´ë¸” ê²°ê³¼:")
print(df1.head())

# âœ… ë°©ë²• 2: ì™¸ë¶€ ì»¤ë„¥ì…˜ ì£¼ì… ë°©ì‹ (ë³µìˆ˜ í…Œì´ë¸” ì¡°íšŒ ì‹œ ìœ ë¦¬)
conn = connection_pool.get_connection()
df2 = fetch_table_with_connection(conn, "books")
conn.close()  # ë§ˆì§€ë§‰ì— ì»¤ë„¥ì…˜ ë°˜í™˜

print("\nğŸ“˜ books í…Œì´ë¸” ê²°ê³¼ 2:")
print(df2.head())